.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  width: 100vw;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #ccc;
  .menu{
    height: 6vh;
    line-height: 5vh;
  }
}

.backToHome {
  margin: 3rem 0 0;
}
